.game-modes {
  display: flex;
  justify-content: center;
  margin-top: 4rem;

  &__button {
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
    font-size: 2rem;
    padding: 0.8rem;
    margin: 0 1rem;
    border-radius: 7px;
    box-shadow: 3px 3px 4px #aaa;
  }
}