@font-face {
  font-family: "Kalam";
  font-weight: 300;
  src: url("/assets/Kalam-Light.ttf");
}
@font-face {
  font-family: "Kalam";
  font-weight: 400;
  src: url("/assets/Kalam-Regular.ttf");
}
@font-face {
  font-family: "Kalam";
  font-weight: 700;
  src: url("/assets/Kalam-Bold.ttf");
}
:root {
  --main-color: #FE5F00;
  --text-color: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kalam";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.navbar {
  background-color: var(--main-color);
  text-align: center;
  padding: 0.5rem 0;
  box-shadow: 3px 3px 3px #aaa;
}
.navbar__text {
  color: var(--text-color);
  font-size: 32px;
  padding: 0.5rem 0;
}
.navbar__text:hover {
  color: black;
}

.game-modes {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.game-modes__button {
  background-color: var(--main-color);
  color: var(--text-color);
  border: none;
  font-size: 2rem;
  padding: 0.8rem;
  margin: 0 1rem;
  border-radius: 7px;
  box-shadow: 3px 3px 4px #aaa;
}
