@font-face {
  font-family: 'Kalam';
  font-weight: 300;
  src:url("/assets/Kalam-Light.ttf");
}

@font-face {
  font-family: 'Kalam';
  font-weight: 400;
  src:url("/assets/Kalam-Regular.ttf");
}

@font-face {
  font-family: 'Kalam';
  font-weight: 700;
  src:url("/assets/Kalam-Bold.ttf");
}
